[Unit]
Description=Check Thaiduy Stack refresh requests

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
Unit=thaiduy-stack-refresh-request.service

[Install]
WantedBy=timers.target
